/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus-visible {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}

/* adding two cute fonts */
@font-face {
  font-family: "helloHeadline";
  src: url(assets/Hello_Headline.woff),
       url(assets/Hello_Headline.tff);

}
@font-face {
  font-family: "openSans";
  src: url(assets/OpenSans-Regular.tff),
       url(assets/OpenSans-Regular.woff);
  
}

/* setting the side of the screen */
html {
  width: 100%;
  height: 100%
}
body {
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-family: "helloHeadline";
  margin: 0 auto;
  width: 100%;
  
}

/* setting fonts */
h1,
h2,
h3,
input {
  font-family: "helloHeadline";
  margin-top: 1rem;
  margin-bottom: 0;
}
h1 {
  font-size: 8rem;
}

ul {
  list-style: none;
  padding: 0;
}

/* this is the base button. it changes a lot depending on what its used for */
button {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  appearance: none;
  background: transparent;
  border: none;
  color: #f5f5f5;
  font-family: "helloHeadline";
  font-size: 100%;
  line-height: 1.15;
  margin: 1rem;
  overflow: visible;
  padding: 1rem;
  width: auto;
  border-radius: 20px;
  
} 
/* hover for ui */
 button:hover {
  opacity: 70%;
};

/* cute little iframe needs margin and shadows for texture */
iframe {
  margin: 2rem;
  box-shadow:
    0 2px 4px 0 rgb(0 0 0 / 20%),
    0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
}

img {
  width: 20%;
  height: auto;
}
/* todo img needs to be larger */
#butler {
  margin: 0;
  width: 40%;
  height: auto
}
/* top img needs to be larger */
#main-img {
  margin:0;
  width: 20%;
  height: auto;
}

/* more fonts */
optgroup,
select,
textarea,
p {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  font-family: "openSans"
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}


@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}


.form-group > input[type="text"] {
  display: inline-block;
}
.btn {
  cursor: pointer;
  padding: 1 rem;
  text-transform: capitalize;
  margin: auto;
}
.btn__danger {
  background-color: #88cafc;
  color: #fff;
}
.label-wrapper {
  flex: 0 0 100%;
  text-align: center;
}
.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[class*="stack"] > * {
  margin-bottom: 1rem;
}
/* End global styles */

/* BLUEY STYLE (DEFAULT) */
.default1 {
  background-color: rgb(210,235,255);
  width: 100%;
  height: 100%;
}
.default1 button{
  background-color: #88cafc;
}

/* BINGO STYLE */
.default2 {
  background-color: rgb(255,208,141);
  width: 100%;
  height: 100%;
}
.default2 button{
  background-color: #ffb070;
}

/* the button that doesn't match the rest bc it represents what the other theme would be */
#bluey {
  background-color: #88cafc;
  width: 200px;
  align-self: flex-end;
  margin: 1rem;
  margin-bottom: 2rem;
}
#bingo {
  background-color: #ffb070;
  width: 200px;
  align-self: flex-end;
  margin: 1rem;
  margin-bottom: 2rem;
}

/* header at top w title */
#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  align-items: flex-end;
  margin-bottom: 2rem;
}

/* column container */
.component-container {
  display: flex;
  flex-direction: row;
}
/* columns  there are two, i don't really call the id but uncessecary */
.column {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

/* each component */
.column-object {
  background-color: white;
  box-shadow:
    0 2px 4px 0 rgb(0 0 0 / 20%),
    0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
  margin-bottom: 2rem;
  width: 500px;
  height: flex;
  padding: 2rem;
  border-radius: 15px;
}

