/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus-visible {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}

@font-face {
  font-family: "helloHeadline";
  src: url(assets/Hello_Headline.woff),
       url(assets/Hello_Headline.tff);

}
@font-face {
  font-family: "openSans";
  src: url(assets/OpenSans-Regular.tff),
       url(assets/OpenSans-Regular.woff);
  
}

html {
  /* font-size: 62.5% / 1.15 "helloHeadline"; */
  width: 100%;
  height: 100%
}
body {
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-family: "helloHeadline";
  margin: 0 auto;
  width: 100%;
  
}

h1,
h2,
h3 {
  font-family: "helloHeadline";
  margin-top: 1rem;
  margin-bottom: 0;
}
h1 {
  font-size: 8rem;
}

ul {
  list-style: none;
  padding: 0;
}
button {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  appearance: none;
  background: transparent;
  border: none;
  color: #f5f5f5;
  font-family: "helloHeadline";
  font-size: 100%;
  line-height: 1.15;
  margin: 1rem;
  overflow: visible;
  padding: 1rem;
  width: auto;
  border-radius: 20px;
}

iframe {
  margin: 2rem;
}

img {
  width: 20%;
  height: auto;
}

#butler {
  margin: 0;
  width: 40%;
  height: auto
}

#main-img {
  margin:0;
  width: 20%;
  height: auto;
}

input,
optgroup,
select,
textarea,
p {
  font-family: "";
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  font-family: "openSans"
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}


@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/* End resets */

/* Global styles */
.form-group > input[type="text"] {
  display: inline-block;
}


.btn {
  cursor: pointer;
  padding: 1 rem;
  text-transform: capitalize;
}


.btn__danger {
  background-color: #88cafc;
  color: #fff;
}

.label-wrapper {
  flex: 0 0 100%;
  /* margin: 0; */
  text-align: center;
}
.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[class*="stack"] > * {
  margin-bottom: 1rem;
}
/* End global styles */


.default1 {
  background-color: rgb(210,235,255);
  width: 100%;
  height: 100%;
}
.default1 button{
  background-color: #88cafc;
}

.default2 {
  background-color: rgb(255,208,141);
  width: 100%;
  height: 100%;
}
.default2 button{
  background-color: #ffb070;
}
#bluey {
  background-color: #88cafc;
  width: 200px;
  align-self: flex-end;
  margin: 1rem;
  margin-bottom: 2rem;
}
#bingo {
  background-color: #ffb070;
  width: 200px;
  align-self: flex-end;
  margin: 1rem;
  margin-bottom: 2rem;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  align-items: flex-end;
}

.component-container {
  display: flex;
  flex-direction: row;
}


.column {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

.column-object {
  background-color: white;
  /* box-shadow:
    0 2px 4px 0 rgb(0 0 0 / 20%),
    0 2.5rem 5rem 0 rgb(0 0 0 / 10%); */
  margin: 2rem 0 4rem 0;
  width: 500px;
  height: flex;
  padding: 2rem;
  border-radius: 15px;
}

